// Mixins / Heading

// @mixin th-heading
//
// Output styles for a heading list.
// @param $heading: mixed | A heading map key or list (required). | $th-headings
// @param $breakpoint: number | A heading list breakpoint (optional). | $th-headings
// @param $base-font-size: number | Number to calculate values from (optional).

@mixin th-heading(
  $heading,
  $breakpoint: false,
  $base-font-size: $th-base-font-size
){
  $heading: th-heading-get(
    $heading: $heading,
    $breakpoint: $breakpoint
  );
  $font-size: th-property-font-size(
    $heading: $heading,
    $breakpoint: $breakpoint,
    $base-font-size: $base-font-size,
    $convert: false
  );
  @include th-property-margin-top(
    $heading: $heading,
    $breakpoint: $breakpoint,
    $base-font-size: $font-size
  );
  @include th-property-margin-bottom(
    $heading: $heading,
    $breakpoint: $breakpoint,
    $base-font-size: $font-size
  );
  @include th-property-font-size(
    $heading: $heading,
    $breakpoint: $breakpoint,
    $base-font-size: $base-font-size
  );
  @include th-property-line-height(
    $heading: $heading,
    $breakpoint: $breakpoint,
    $base-font-size: $font-size
  );
}

// @mixin th-headings
//
// Output styles for all heading lists in a heading map.
// @param $heading: string | A heading map key. | $th-headings
// @param $base-font-size: number | Number to calculate values from (optional).

@mixin th-headings(
  $heading,
  $base-font-size: $th-base-font-size
){
  $heading-map: th-heading-get-map($heading);
  @if _th-heading-has-next($heading-map) {
    @each $heading in $heading-map {
      $breakpoint: th-property($heading, breakpoint);
      @if $breakpoint {
        @include th-breakpoint-heading(
          $heading: $heading,
          $breakpoint: $breakpoint,
          $base-font-size: $base-font-size
        );
      } @else {
        @include th-heading(
          $heading: $heading,
          $base-font-size: $base-font-size
        );
      }
    }
  } @else {
    @include th-heading(
      $heading: $heading,
      $base-font-size: $base-font-size
    );
  }
}