// Mixins / Property

// @mixin th-property-font-size
// 
// Output heading list font size property value.
// @param $heading: mixed | A heading map key or list (required). | $th-headings
// @param $breakpoint: number | A heading list breakpoint (optional). | $th-headings
// @param $base-font-size: number | Number to calculate values from (optional).

@mixin th-property-font-size(
	$heading,
	$breakpoint: false,
	$base-font-size: $th-base-font-size
){
	font-size: th-property-font-size(
		$heading: $heading,
		$breakpoint: $breakpoint,
		$base-font-size: $base-font-size
	);
}

// @mixin th-property-line-height
// 
// Output heading list line height property value.
// @param $heading: mixed | A heading map key or list (required). | $th-headings
// @param $breakpoint: number | A heading list breakpoint (optional). | $th-headings
// @param $base-font-size: number | Number to calculate values from (optional).

@mixin th-property-line-height(
	$heading,
	$breakpoint: false,
	$base-font-size: $th-base-font-size
){
	line-height: th-property-line-height(
		$heading: $heading,
		$breakpoint: $breakpoint,
		$base-font-size: $base-font-size
	);
}

// @mixin th-property-margin-top
// 
// Output heading list margin top property value.
// @param $heading: mixed | A heading map key or list (required). | $th-headings
// @param $breakpoint: number | A heading list breakpoint (optional). | $th-headings
// @param $base-font-size: number | Number to calculate values from (optional).

@mixin th-property-margin-top(
	$heading,
	$breakpoint: false,
	$base-font-size: $th-base-font-size
){
	margin-top: th-property-margin-top(
		$heading: $heading,
		$breakpoint: $breakpoint,
		$base-font-size: $base-font-size
	);
}

// @mixin th-property-margin-bottom
// 
// Output heading list margin bottom property value.
// @param $heading: mixed | A heading map key or list (required). | $th-headings
// @param $breakpoint: number | A heading list breakpoint (optional). | $th-headings
// @param $base-font-size: number | Number to calculate values from (optional).

@mixin th-property-margin-bottom(
	$heading,
	$breakpoint: false,
	$base-font-size: $th-base-font-size
){
	margin-bottom: th-property-margin-bottom(
		$heading: $heading,
		$breakpoint: $breakpoint,
		$base-font-size: $base-font-size
	);
}