// Functions / Unit

$th-units-relative: (em, rem, relative);
$th-units-absolute: (px,);

// @function th-unit-get
//
// Returns a property's "convert to" unit.
// @access private
// @param $property-name: string | A heading property name (required). | $th-units
// @param $_return: number | Propertie's "convert to" unit.

@function _th-unit-get(
	$property-name
){
	$_return: $property-name;
	$_return: map-get($th-units, $property-name);
	@return $_return;
}

// @function th-unit
//
// Returns a property's "converted" value.
// @access private
// @param $property-name: string | A heading property name (required). | $th-units
// @param $value: number | number | A "to convert" value.
// @param $base-font-size: number | Font size used for relative calculations.
// @return $_return: number | A "converted" value.

@function _th-unit(
	$property-name,
	$property-value,
	$base-font-size: $th-base-font-size
){
	@if not map-has-key($th-units, $property-name) {
		@return $property-value;
	}
	$_return: $property-value;
	$unit: _th-unit-get($property-name);
	@if not $unit or $unit == unit($property-value) {
		@return $_return;
	}
	$function: th-unit-convert-#{$unit};
	@if function-exists($function) {
		$_return: call($function, $property-value, $base-font-size);
	}
	@return $_return;
}